<div class="sidebar-container">
  <div class="data-container">
    @if (countryDataLoaded && populationDataLoaded && gdpDataLoaded) {
    <h2>{{ countryName }}</h2>
    <h3>Capital - {{ capitalName }}</h3>
    <app-country-data-item itemKey="Region" [itemValue]="countryRegion" />
    <app-country-data-item itemKey="Income Level" [itemValue]="incomeLevel" />
    <app-country-data-item itemKey="Population" [itemValue]="population" />
    <app-country-data-item
      itemKey="GDP (Constant 2015 US$)"
      [itemValue]="gdp"
    />
    } @else {
    <app-sidebar-loading />
    }
  </div>
  <a class="attribution" href="https://www.worldbank.org/en/home"
    >Data by the World Bank Group</a
  >
</div>
