section {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.map-container {
  width: 80vw;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-pad {
  padding-left: 2rem;
}
