<section>
  <div>
    <div class="map-container">
      <app-map-svg (countryClicked)="changeCountry($event)" />
    </div>
    <a
      class="attribution"
      href="https://simplemaps.com/custom/world/peDsdccQ#states"
      >SVG by simplemaps.com</a
    >
  </div>
  <app-sidebar
    [countryName]="currentCountry"
    [capitalName]="capital"
    [countryRegion]="region"
    [incomeLevel]="incomeLevel"
    [population]="population"
    [gdp]="gdp"
    [countryDataLoaded]="countryDataLoaded"
    [populationDataLoaded]="populationDataLoaded"
    [gdpDataLoaded]="gdpDataLoaded"
  />
</section>
