<div>
  <div class="placeholder h2-placeholder"></div>
  <div class="placeholder h3-placeholder"></div>
  <div>
    <div class="placeholder h4-placeholder"></div>
    <div class="placeholder p-placeholder"></div>
  </div>
  <div>
    <div class="placeholder h4-placeholder"></div>
    <div class="placeholder p-placeholder"></div>
  </div>
  <div>
    <div class="placeholder h4-placeholder"></div>
    <div class="placeholder p-placeholder"></div>
  </div>
  <div>
    <div class="placeholder h4-placeholder"></div>
    <div class="placeholder p-placeholder"></div>
  </div>
</div>
