.placeholder {
  background-color: rgba(207, 207, 207, 0.481);
  background: linear-gradient(
    90deg,
    rgba(207, 207, 207, 0.481),
    20%,
    rgba(255, 255, 255, 0.731),
    35%,
    rgba(207, 207, 207, 0.481)
  );
  background-size: 400% 100%;
  animation-name: textloading;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.h2-placeholder {
  display: block;
  height: 28px;
  width: 8rem;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  border-radius: 2px;
  margin: 19.92px 0px;
}

.h3-placeholder {
  display: block;
  height: 22px;
  width: 10rem;
  margin-block-start: 1em;
  margin-block-end: 1em;
  border-radius: 2px;
  margin: 18.72px 0px;
}

.h4-placeholder {
  display: block;
  height: 18px;
  width: 5rem;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  border-radius: 2px;
  margin: 21.28px 0px;
}

.p-placeholder {
  width: 7rem;
  height: 18px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  border-radius: 2px;
  margin-bottom: 1rem;
  margin: 16px 0px;
}

@keyframes textloading {
  from {
    background-position: -50%;
  }
  to {
    background-position: 100%;
  }
}
